.sidebarNavLink {
    text-decoration: none;

}

.sidebarNavLink * {
    background-color: transparent;
    color: white;
    font-Weight: 600;
    font-Size: 20px;
}

.sidebarNavLink button:hover {
    border-color: white;
    background-color: transparent;
}

.sidebarNavLink button {
    width: 100%;
    height: 100%;
    border-Radius: 20px;
    border-Color: transparent;
    margin-Bottom: 24px;
    padding-Top: 26px;
    padding-Bottom: 26px;
}

.sidebarMenuSub .sidebarMenuSubButton:hover {
    background-color: #3D56F8 !important;
    color: white !important;
}

.sidebarMenuSubButton {
    width: 100%;
    height: 100%;
    border-Radius: 20px ;
    margin-Bottom: 10px !important;
    padding-Top: 20px !important;
    padding-Bottom: 20px !important;
    color: black;
}

.button:active{
    filter: brightness(0.8)
}